@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000; /* Forces the browser background to be black */
}

body {
  background-color: #000000;
  overscroll-behavior-y: none; /* This prevents the "bounce" effect entirely if you prefer */
}